cycles_dead        = "5"
cycles_live        = "5"
interface          = "eth0"
modemport          = "/dev/ttyUSB2"
ipaddrs            = "192.168.1.1, 192.168.2.1, 192.168.3.1"
ntfy_url           = "https://ntfy.com/chat"
ntfy_login_pass    = "Basic echo -n "user:password" | base64"
vpn_unit           = "openvpn-client@myclient.service"